.home{
    display: flex;
    .nav{
        flex: 1;
        max-width: 17vw;
        min-height: 100vh;
    }

    .container{
        flex: 3;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        font-size: 10vw;
        font-family: 'Montserrat', sans-serif;
        .sub{
            font-size: 2vw;
        }
    }

    @media  screen and (max-width: 600) and (max-height) {
        
    }
}