.nav {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ff46ff;
    box-shadow: 0 0 10px #7b2c7b;
   

  .title {
    font-family: "Montserrat", sans-serif;
    font-size: clamp(1em, 1em + 1vw, 1.5em);
    text-align: center;
    top: 2%;
    left: 1%;
    position: fixed;
  }

  .options {
    position: fixed;
    display: flex;
    flex-direction: column;
    font-family: "Comfortaa", cursive;
    font-weight: 700;
    font-size: clamp(1em, 1em + 1vw, 1.3em);
    top: 12%;
    left: 0.5%;

    p {
      width: 14vw;
      padding: 5%;
      margin: 2%;
      border-radius: 10px;
      display: flex;
      justify-items: center;
      
      span{
        margin-right: 2vw;
      }
      
      &:hover {
        cursor: pointer;
        background-color: #7b2c7b4f;
      }
    }
  }
}

.Tarefa {
  width: 500px;
  height: 50px;
  display: flex;
  margin: 2%;
}

.Tarefa .content {
  flex: 100%;
  height: 100%;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Tarefa .content span {
  display: grid;
  place-items: center;
  border: none;
  border: 1px solid #7b2c7b;
  box-shadow: 0 0 5px #ff46ff;
  width: 100%;
  height: 100%;
  font-size: 18px;
  border-right: none;
  background-color: transparent;
}

.Tarefa button {
  flex: 20%;
  height: 100%;
  border: none;
  background-color: #7b2c7b;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;

  &:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
    border: 2px solid #ff46ff;
    background-color: #ff46ff;

    span{
      color: white;
    }
  }
}


@keyframes pulsar-text {
  100% {
    text-shadow: 0 0 4px black, 0 0 11px black, 0 0 19px black, 0 0 40px black,
      0 0 80px rgb(204, 204, 204), 0 0 90px rgb(204, 204, 204),
      0 0 100px rgb(204, 204, 204), 0 0 150px rgb(204, 204, 204);
  }
  0% {
    text-shadow: 0 0 4px black, 0 0 10px black, 0 0 18px black, 0 0 38px black,
      0 0 73px rgb(204, 204, 204), 0 0 80px rgb(204, 204, 204),
      0 0 94px rgb(204, 204, 204), 0 0 140px rgb(204, 204, 204);
  }
}
